* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.App {
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: -2;
}

.container {
  width: 1200px;
  margin: 6.25rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 3.125rem;
}

.inner-container {
  position: relative;
  width: 35rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-item {
  padding: 0 2.125rem;
}

.large-thumbnail {
  display: inline-block;
  width: 100%;
  height: 23.375rem;
  object-fit: contain;
}

.large-thumbnail:last-child {
  width: 3.125;
}

h3:before {
  content: "\A";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #00BDD2;
  display: inline-block;
  margin: 0 6px;
}

h3:after {
  content: "\A";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FFC20D;
  display: inline-block;
  margin: 0;
}

.content {
  display: inline-block;
  position: relative;
  top: 12px;
}

.author-name {
  display: inline-block;
  position: relative;
  top: 1.5rem;
}

.date {
  width: fit-content;
  position: relative;
  left: 23.375rem;
  bottom: 1.75rem;
}

.text-on-image {
  width: 35rem;
  height: 53%;
  position: absolute;
  background-color: gray;
  opacity: 0.8;
  bottom: 47%;
  text-align: center;
}

.learn-more {
  position: relative;
  top: 50%;
  background: none;
	color: White;
	border: none;
	padding: 0;
	font: inherit;
  font-size: large;
	cursor: pointer;
	outline: inherit;
}

